*{
  padding: 0;
  margin: 0;
  font-family: arial,sans-serif;
  font-size: small;
  color:#5F6368
}
nav{
  width: 100%;
  position: absolute;
  height: 8%;
  display: flex;
  align-items: center;
}
nav p{
  position: relative;
  margin-left: 1em;
  margin-right: 1em;
}
nav p:hover{
  text-decoration: underline;
  cursor:pointer;
}
#sign-in{
  border: .1em solid #4387fd;
  padding: 0.5em 0.8em;
  color: white;
  background-color: #4387fd;
  font-weight: bold;
  border-radius: 0.15em;
}
main {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
main #google-logo{
  position: relative;
  bottom: 9em;
}
.content {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.buttons{
  display: flex;
  font-size: 14px;
}
#searchbtn{
  border: 1px solid #f2f2f2;
  border-radius: 0.2em;
  background-color: #f2f2f2;
  padding: 0.7em 1.3em;
  margin-right: 0.5em;
  color:#5F6368

}
#searchbtn:hover{
  border: 1px solid lightgray;
  background-color:#f2f2f2;
  cursor: pointer;
}
#luckybtn{
  border: 1px solid #f2f2f2;
  border-radius: 0.2em;
  background-color: #f2f2f2;
  padding: 0.7em 1.3em;
  margin-left: 0.5em;
  color:#5F6368
}
#luckybtn:hover{
  border: 1px solid lightgray;
  background-color:#f2f2f2;
  cursor: pointer;
}
input{
  position: relative;
  width: 40%;
  border: 1px solid lightgray;
  border-radius: 2em;
  height: 3.3em;

}
form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
footer{
  display: flex;
  bottom: 0;
  align-items: center;
  position: absolute;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  height: 3.1em;
}
#space{
  flex-grow:1;
}
footer p {
  margin-left: 1em;
  margin-right: 1em;
  position: relative;
}
footer p:hover{
  text-decoration: underline;
  cursor:pointer;
}
#glassbtn{
  width: 1em;
  height: 1em;
  position: relative;
  z-index: 1;
  left: 2em;
}
#micbtn{
  width: 1.2em;
  height: 1.5em;
  position: relative;
  z-index: 1;
  order: 1;
  right: 3em;
}
#micbtn:hover{
  cursor:pointer;
}
